.sidebar {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 70px;
}

.sidebar .profile__card {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(112, 112, 112, 0.432);
}

.profile__card .profile__top {
  width: 100%;
  height: 60px;
  background-image: url('../../assets/card-bg.svg');
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.profile__avatar {
  margin-top: -30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile__avatar img {
  border-radius: 50%;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  padding: 10px;
}

.profile__avatar .profile__name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(189, 189, 189, 0.438);
  padding-bottom: 20px;
}

.profile__name h4 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.767);
  margin-top: 10px;
  margin-bottom: 8px;
}

.profile__name p {
  font-size: 15px;
}

.profile__stats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.438);
}

.profile__stats .view,
.profile__stats .connections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}

.profile__stats .view p,
.profile__stats .connections p {
  font-size: 14px;
  color: gray;
}

.profile__stats .connections {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connections .growth h4 {
  color: gray;
  font-weight: 400;
  font-size: 14px;
}

.connections .growth p {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.try__premium {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px 10px;
}

.try__premium p,
.try__premium b {
  font-size: 13px;
}