.header__wrapper {
  width: 100%;
  height: 52px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__wrapper header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  height: 100%;
}

header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 34px;
}

.brand a {
  height: 100%;
}

.brand a img {
  height: 100%;
}

.brand .searchbox {
  height: 34px;
  width: 280px;
}

.searchbox input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  border-radius: 3px;
  background-color: #d2e4fa98;
  padding: 0 10px;
}

.activeNav {
  background-color: dodgerblue;
}

nav {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-right: 1px solid rgba(197, 197, 197, 0.808);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
}

nav a img {
  height: 20px;
  margin-bottom: 0;
}

.userAvatar {
  width: 45px;
  height: 34px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 7px;
  position: relative;
}

.userAvatar img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.user__dropdown {
  position: absolute;
  top: 60px;
  right: 350px;
  width: max-content;
  padding: 15px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  /* background-color: red; */
  z-index: 9;
  width: 250px;
  transition: all 200ms linear;
}

.user__dropdown .user__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(212, 212, 212, 0.808);
  padding: 10px;
}

.user__info a {
  border: 1px solid dodgerblue;
  width: 100%;
  padding: 3px 0;
  font-size: 15px;
  border-radius: 50px;
  color: dodgerblue;
}

.user__info a:hover {
  color: dodgerblue;
}

.user__dropdown .options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.options h4 {
  margin-bottom: 10px;
}

.options .options__links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.options__links a {
  font-size: 14px;
  color: black;
}

.options__links a:hover {
  text-decoration: underline;
}

.options__links button {
  background: transparent;
  width: 100%;
  padding: 5px 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid rgba(212, 212, 212, 0.808);
  margin-top: 5px;
}

.premium {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.premium .app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  margin: 0;
}

.premium .premium__link p {
  width: 120px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}